// article 头部样式
.article__header {
  padding: 15px;
  display: flex;
  border-bottom: 1px solid #ddd;
  .article__avatar {
    display: flex;
    justify-content: center;
    min-width: 60px;
    max-width: 60px;
    margin-right: 20px;
    flex-direction: column;
    img {
      width: 40px;
      border-radius: 50%;
      display: block;
      margin: auto;
    }
    .article__userName {
      font-size: 13px;
      text-align: center;
      color: #999;
    }
  }
  .article__titile-wrapper {
    display: flex;
    justify-content: space-between;
    flex: auto;
    flex-direction: column;
    .article__title {
      font-size: 26px;
      color: #2b3a42;
      margin-bottom: 30px;
    }
    .article__info {
      display: flex;
      justify-content: space-between;
      color: #999;
    }
    .article__data>span{
      margin-left: 30px;
    }
  }
}

// article 留言板区样式
.article__msg {
  padding: 15px;
  h3 {
    font-size: 1.5em;
    margin-top: 1.25em;
    margin-bottom: 0.8em;
  }
}
.article__comment {
  display: flex;
  margin-bottom: 10px;
  padding: 10px 15px;
  box-shadow: 0 1px 2px #999;
  border-radius: 5px;
}
.article__comment-avatar {
  display: flex;
  min-width: 80px;
  max-width: 80px;
  flex-direction: column;
  margin-right: 24px;
  text-align: center;
  img {
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  .article__comment-username {
    color: #999;
    font-size: 14px;
    margin: 5px 0;
  }
}
.article__comment-content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 120px);
}
.article__comment-content p {
  margin-bottom: 0.8em;
}
.article_reply-text {
  font-size: 16px;
}
.article__comment-day {
  color: #999;
  font-size: 14px;
}
.article__floor {
  color: #999;
  font-size: 13px;
}

// 主题详情样式
.article__wrapper {
  padding: 15px;
}
.article__content {
  margin: 0 10px;
}
.markdown-text p {
  line-height: 2em;
  margin: 20px 0;
  font-size: 16px;
  word-wrap: break-word;
}
.markdown-text>:first-child {
  margin-top: 0;
}
.article__wrapper ul {
  padding: 0;
  margin: 0 0 10px 25px;
}
.article__wrapper ul li {
  list-style-type: circle;
}
.article__wrapper img {
  display: block;
  margin: auto;
}