.content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  .topicList__wrapper {
    padding: 20px 10px 0 10px;
    background-color: #354851;
  }
  .topic__warpper {
    display: flex;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  .topic__warpper:last-child {
    margin-bottom: 0;
  }
  .topic__avater {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    -webkit-box-pack: center;
  }
  .topic__avater img {
    max-width: 45px;
    border-radius: 50%;
  }
  .topic__content {
    flex: auto;
    .topic__author {
      display: flex;
      justify-content: space-between;
    }
    .topic__label {
      display: inline-block;
      color: #fff;
      background-color: #8dd6f9;
      padding: 2px 10px;
      border-radius: 2px;
    }
    span {
      color: #999;
    }
    .topic__title {
      margin: 5px 0;
    }
  }
  .topic__bottom {
    display: flex;
    font-size: 13px;
    color: #999;
    justify-content: space-between;
    .topic__info span {
      margin-right: 30px;
    }
  }
  .pagination__warpper {
    color: #999;
    background-color: #354851;
  }
  .pagination__warpper ul {
    padding: 15px 10px;
    margin: 0;
    display: flex;
  }
  .pagination__warpper ul li {
    flex: auto;
    text-align: center;
  }
  .pagination__warpper ul li a {
    color: #999;
    cursor: pointer;
  }
  i {
    font-size: 14px;
    margin: 5px;
  }
}
