.header{
  // 侧边栏
  .sidebar__wrapper {
    height: 100vh;
    width: 62vw;
    text-align: center;
    z-index: 1000;
    transition: all .75s;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    transform: translate(-110%);
    transition: all 0.75s cubic-bezier(0.23,1.32,1);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .sidebar__wrapper-open {
    display: block;
    transform: translate(0);
    transition: all .75s;
  }
  .sidebar__close {
    background-color: #354851;
    padding: 6px 0;
    display: flex;
    font-size: 33px;
    padding: 4.5px 0;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    height: 52px;
    span {
      color: #fff;
      font-weight: bold;
      font-size: 24px;
      padding: 5px;
    }
  }
  .nav__warpper {
    padding-top: 20px;
    .sidebar__item--active {
      color: #2086d7;
    }
    a {
      padding: 10px 0;
      line-height: 2em;
      border-bottom: 1px solid #dedede;
      display: block;
      width: 100%;
      text-decoration: none;
      color: black;
    }
  }
}
// 移动端 header 样式
header {
  .navigation__wrapper {
    background-color: #2b3a42;
  }
  .navigation__header {
    display: flex;
    .icon-menu {
      padding: 15px;
      font-size: 21px;
      color: #fff;
      display: inline-block;
      cursor: pointer;
      position: absolute;
    }
    .logo__warapper img {
      height: 100%;
      width: auto;
      padding: 10px 0;
    }
    .navigation__item {
      display: none;
    }
  }
  .logo__warapper {
    margin: 0 auto;
    height: 52px;
  }
}

// 屏幕宽度超过 768px 显示 PC 端布局
@media screen and (min-width: 768px) {
  .sidebar__wrapper {
    display: none;
  }
  .navigation__wrapper {
    background-color: #354851;
    .navigation__header {
      display: flex;
      justify-content: space-between;
    }
    .logo__warapper {
      height: 52px;
      margin: 0;
    }
    .logo__warapper img {
      width: auto;
      height: 100%;
      padding: 10px 0;
    }
    .navigation__header .icon-menu {
      display: none;
    }
    .navigation__header .navigation__item {
      display: flex;
      justify-content: flex-end;
      transform: translate(20px);
    }
    .navigation__item a {
      padding: 16px 20px;
      color: #999;
      font-size: 16px;
      display: inline-block;
    }
    .navgation__items--active {
      color: #ccc;
      background-color: #3f5561;
    }
  }
}
